# Assignment1_text preprocessing

In [46]:
import pandas as pd

In [47]:
df = pd.DataFrame({'name':["The Shawshank Redemption", "The Godfather", "The Godfather Part II"
], 'description': ["Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope."
, "Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge."
, "In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba."
], 'genre': ["action", "comedy", "drama"]
})

In [48]:
df

,name,description,genre
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,action
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",comedy
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,drama

In [49]:
df['description'] = df['description'].str.lower()

In [50]:
df

,name,description,genre
0,The Shawshank Redemption,framed in the 1940s for the double murder of h...,action
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...",comedy
2,The Godfather Part II,in the continuing saga of the corleone crime f...,drama

In [51]:
import string

In [52]:
regular_exp = string.punctuation
import re
def remove_regular_expression(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [53]:
df['description'] = df['description'].apply(remove_regular_expression)

In [54]:
exclude  = string.punctuation

In [55]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', exclude))

In [56]:
df['description'] = df['description'].apply(remove_punctuation)

In [57]:
from textblob import TextBlob

In [58]:
df['description'] = df['description'].apply(lambda x: str(TextBlob(x).correct()))

In [59]:
import nltk
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [60]:
from nltk.corpus import stopwords

stopwords_set = set(stopwords.words('english'))

def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stopwords_set]
    return ' '.join(filtered_words)

df['description'] = df['description'].apply(remove_stopwords)

In [61]:
df['description']

0    framed 1940s double murder wife lover standing...
1    spanning years 1945 1955 chronicle sectional i...
2    continuing sage corleone crime family young ve...
Name: description, dtype: object

In [63]:
import emoji
df['description'] = emoji.demojize(df['description'])

In [64]:
from nltk.tokenize import word_tokenize

In [67]:
df['tokenized_description'] = df['description'].apply(lambda x: word_tokenize(x))

In [68]:
df['tokenized_description']

0    [framed, 1940s, double, murder, wife, lover, s...
1    [framed, 1940s, double, murder, wife, lover, s...
2    [framed, 1940s, double, murder, wife, lover, s...
Name: tokenized_description, dtype: object

# Assignment_Text Representation

In [69]:
import numpy as np

In [70]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [72]:
bow = cv.fit_transform(df['description'])

In [73]:
print(cv.vocabulary_)

{'framed': 27, '1940s': 1, 'double': 23, 'murder': 43, 'wife': 69, 'lover': 40, 'standing': 61, 'banker': 10, 'andy': 7, 'duquesne': 24, 'begins': 13, 'new': 45, 'life': 38, 'shawshank': 57, 'prison': 49, 'puts': 51, 'accounting': 5, 'skill': 59, 'work': 70, 'moral': 42, 'garden': 28, 'long': 39, 'stretch': 63, 'comes': 19, 'admired': 6, 'inmates': 33, 'including': 32, 'older': 46, 'prisoner': 50, 'named': 44, 'red': 52, 'integrity': 34, 'unquenchable': 67, 'sense': 56, 'hopespanning': 31, 'years': 72, '1945': 2, '1955': 4, 'chronicle': 18, 'sectional': 55, 'italianamerican': 35, 'corleone': 20, 'crime': 21, 'family': 26, 'organized': 47, 'patriarch': 48, 'veto': 68, 'barely': 11, 'survives': 64, 'attempt': 8, 'youngest': 75, 'son': 60, 'michael': 41, 'steps': 62, 'take': 65, 'care': 17, 'would': 71, 'tillers': 66, 'launching': 37, 'campaign': 16, 'bloody': 14, 'revengecontinuing': 53, 'sage': 54, 'young': 74, 'grows': 29, 'sicily': 58, '1910s': 0, 'york': 73, '1950s': 3, 'attempts': 9, 'expand': 25, 'business': 15, 'las': 36, 'began': 12, 'hollywood': 30, 'cuba': 22}

In [81]:
cv2 = CountVectorizer(ngram_range = (2,2))

In [1]:
bow = cv2.fit_transform(df['description'])

NameError: name 'cv2' is not defined

In [83]:
bow[0].toarray()

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1]],
      dtype=int64)

In [84]:
print(cv2.vocabulary_)

{'framed 1940s': 33, '1940s double': 1, 'double murder': 25, 'murder wife': 51, 'wife lover': 79, 'lover standing': 47, 'standing banker': 71, 'banker andy': 10, 'andy duquesne': 7, 'duquesne begins': 26, 'begins new': 13, 'new life': 53, 'life shawshank': 44, 'shawshank prison': 67, 'prison puts': 59, 'puts accounting': 61, 'accounting skill': 5, 'skill work': 69, 'work moral': 80, 'moral garden': 50, 'garden long': 34, 'long stretch': 46, 'stretch prison': 73, 'prison duquesne': 58, 'duquesne comes': 27, 'comes admired': 19, 'admired inmates': 6, 'inmates including': 39, 'including older': 38, 'older prisoner': 55, 'prisoner named': 60, 'named red': 52, 'red integrity': 62, 'integrity unquenchable': 40, 'unquenchable sense': 77, 'sense hopespanning': 66, 'hopespanning years': 37, 'years 1945': 82, '1945 1955': 2, '1955 chronicle': 4, 'chronicle sectional': 18, 'sectional italianamerican': 65, 'italianamerican corleone': 41, 'corleone crime': 22, 'crime family': 24, 'family organized': 30, 'organized crime': 56, 'family patriarch': 31, 'patriarch veto': 57, 'veto corleone': 78, 'corleone barely': 21, 'barely survives': 11, 'survives attempt': 74, 'attempt life': 8, 'life youngest': 45, 'youngest son': 85, 'son michael': 70, 'michael steps': 49, 'steps take': 72, 'take care': 75, 'care would': 17, 'would tillers': 81, 'tillers launching': 76, 'launching campaign': 43, 'campaign bloody': 16, 'bloody revengecontinuing': 14, 'revengecontinuing sage': 63, 'sage corleone': 64, 'family young': 32, 'young veto': 84, 'corleone grows': 23, 'grows sicily': 35, 'sicily 1910s': 68, '1910s new': 0, 'new york': 54, 'york 1950s': 83, '1950s michael': 3, 'michael corleone': 48, 'corleone attempts': 20, 'attempts expand': 9, 'expand family': 28, 'family business': 29, 'business las': 15, 'las began': 42, 'began hollywood': 12, 'hollywood cuba': 36}

In [85]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [87]:
tfidf = TfidfVectorizer()
(tfidf.fit_transform(df['description']).toarray())

array([[0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.42107596, 0.25264558, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.33686077, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.16843038, 0.08421519, 0.08421519, 0.08421519,
        0.16843038, 0.08421519, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519],
       [0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.42107596, 0.25264558, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.33686077, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.16843038, 0.08421519, 0.08421519, 0.08421519,
        0.16843038, 0.08421519, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519],
       [0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.42107596, 0.25264558, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.33686077, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.16843038, 0.08421519, 0.08421519, 0.08421519,
        0.16843038, 0.08421519, 0.08421519, 0.08421519, 0.16843038,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.16843038, 0.08421519,
        0.08421519, 0.08421519, 0.08421519, 0.08421519, 0.08421519,
        0.08421519]])